<!DOCTYPE html>
<html ng-app="myApp">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Brice Okubo | UX & Web Designer</title>
      <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="bower_components/card.css">
      <link rel="stylesheet" type="text/css" href="bower_components/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
      <link rel="shortcut icon" href="content/images/Blogo.png" type="image/x-icon" />
   </head>
   <body>
      <div ng-include="'views/demoHero.html'"></div>
      <div class="wall">
         <div class="container sectionColor shadow">

            <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
            </div>

            <div ng-controller="sectionCtrl">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav">
               <li><button class="contactBtn" ng-click="offerSection()">Offer</button></li>
               <li><button class="contactBtn" ng-click="aboutSection()">About</button></li>
               <li><button class="contactBtn" ng-click="workSection()">Work</button></li>
               <li><button class="contactBtn" ng-click="MCwork()">MC</button></li>
               <li><button class="contactBtn" ng-click="contactSection()">Contact</button></li>
               </ul>
            </div>
            <div ng-include='section'></div>
            </div>
         </nav>
            <script src="content/js/button.js"></script>


             <!-- This section is made with a controller to display sections with the ability to query
             <div ng-include="'views/demoNav.html'"></div>
         <section ng-controller="mainCtrl" id="main">
            <div ng-repeat="main in mains | filter:query">
               <div ng-include='main.section'></div>
            </div>
         </section> -->

            <!-- This is orginal look with sections single page -->
            <!-- <div ng-include="'views/nav.html'"></div>
            <div ng-include="'views/offer.html'"></div>
            <div ng-include="'views/work.html'"></div>
            <div ng-include="'views/about.html'"></div> -->
         </div>
      </div>
      <div ng-include="'views/footer.html'"></div>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="content/js/app.js"></script>
   </body>
</html>
