<!DOCTYPE html>
<html ng-app="myApp" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Brice Okubo | UX & Web Designer</title>
   <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="bower_components/card.css">
   <link rel="stylesheet" type="text/css" href="bower_components/style.css">
	<link rel="stylesheet" href="content/css/navStyle.css"> <!-- Resource style -->
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
   <link rel="shortcut icon" href="content/images/Blogo.png" type="image/x-icon" />
</head>
<body>
	<section id="cd-intro">
		<div id="cd-intro-tagline"></div> <!-- #cd-intro-tagline -->
		<div ng-include="'views/demoHero.html'"></div>
	</section> <!-- #cd-intro -->
   <div class="container sectionColor shadow">
      <div ng-controller="sectionCtrl">
			<div class="cd-secondary-nav">
				<a href="#0" class="cd-secondary-nav-trigger">Menu<span>Menu</span></a> <!-- button visible on small devices -->
				<nav>
					<ul>
		            <li><a><button class="navButton active" ng-click="offerSection()"><b>About</b></button></a></li>
		            <li><a><button class="navButton inactive" ng-click="workSection()"><b>Work</b></button></a></li>
		            <li><a><button class="navButton inactive" ng-click="resumeSection()"><b>Resume</b></button></a></li>
		            <li><a><button class="navButton inactive" ng-click="contactSection()"><b>Contact</b></button></a></li>
					</ul>
				</nav>
		   </div> <!--.sectionCtrl -->
			<main class="cd-main-content">
		      <div ng-include='section'></div>
			</main> <!-- .cd-main-content -->
		</div> <!-- .cd-secondary-nav -->
	</div><!--container -->
	<div ng-include="'views/homepage/footer.html'"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="content/js/main.js"></script> <!-- Resource jQuery -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="content/js/close.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="content/js/app.js"></script>
</body>
</html>
