<section ng-app>
   <hr>
   <div class="container">
   <div class="workArchive">
      <div class="row">
         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200" class="img-responsive">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200" class="img-responsive">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200" class="img-responsive">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200" class="img-responsive">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200" class="img-responsive">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200" class="img-responsive">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>

      </div><!--row -->
   </div><!--workArchive -->

</div>
</section>
