<section ng-controller="workCtrl" id="work">
   <hr>
   <div class="workArchive">
      <div class="row">
         <div ng-repeat="work in works">
            <a href="{{work.a}}">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
               <div class="archiveImg">
                  <img src="{{work.image}}" class="img-responsive img-rounded shadow"  >
               </div>
               <div class="archiveTitle">
                  <h4>{{work.title}}</h4>
               </div> <!--archive title -->
            </div><!--column -->
            </a>
         </div> <!--ng repeat -->
      </div><!--row -->
   </div> <!--container  -->

</section>
