<section class="techubBody" ng-app>
   <!-- Title Section-->
   <div class="titleSection">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive workImg" src="content/images/work/cn/CNhero.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">Carbon Neutrality Challenge</h1>
               <h4>Case Study - December 2015</h4>
               <p class="workSum">
                  A web application set out to change the world by calcuating your carbon emission.
               </p>
               <a href="http://www.soc.hawaii.edu/mora/Carbon%20Neutrality%20Project"><span>Mora Lab</span></a>
            </div>
         </div>
      </div>
   </div>
   <!-- Body-->
   <div class="myWorkBody container">
      <div class="row">
         <div class="col-md-4">
            <h2>Site Flow</h2>

         </div>
         <div class="col-md-6">
            <img class="img-responsive workImg" src="content/images/work/cn/CNuserFlow.svg">
         </div>
      </div>

      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2>Wireframe</h2>
      <div class="row">
         <div class="col-md-4">
            <img class="img-responsive workImg" src="content/images/work/cn/CNwire1.svg">
         </div>
         <div class="col-md-4">
            <img class="img-responsive workImg" src="content/images/work/cn/CNwire2.svg">
         </div>
         <div class="col-md-4">
            <img class="img-responsive workImg" src="content/images/work/cn/CNwire3.svg">
         </div>


      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2>Mock Up</h2>
      <div class="row">
         <div class="col-md-6">
            <img class="img-responsive workImg" src="content/images/work/cn/CNmockup2.png">
         </div>
         <div class="col-md-6">
            <img class="img-responsive workImg" src="content/images/work/cn/CNmockup1.svg">
         </div>


      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2>UX Solution</h2>
      <div class="row">
         <div class="col-md-4">

         </div>
         <div class="col-md-8">
            <img class="img-responsive workImg" src="content/images/work/cn/CNsolution1.svg">
         </div>
      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2>Conclusion</h2>

   </div>


<!--OLD -->
   <div class="container">
      <h1>Carbon Neutral Challenge Case Study</h1>
      <h2>Overview</h2>
      <p>
         Design a web application to keep track of users carbon emission to help save the world! Camilo Mora, University of Hawaii Manoa Professor, is spreading news of a new upcoming web application to help you keep track of the trees you plant to counter act the carbon emission you create.
      </p>
      <hr>
      <img class="img-responsive workImg" src="content/images/mora.png">
      <a href="http://www.soc.hawaii.edu/mora/Carbon%20Neutrality%20Project">MoraLab</a>
      <h2>Sitemap</h2>
      <p>
         With a team of three memebers, we gather all the features for the web application, and I created the wireframe/ sitemap.
      </p>
      <div class="row">
         <div class="col-md-6 col-sm-6">
            <img class="img-responsive workImg" src="content/images/work/cn/CNsitemap.png">
         </div>
         <div class="col-md-6 col-sm-12">
            <img class="img-responsive workImg" src="content/images/work/cn/signupsitemap.png">
         </div>
      </div>
      <h2>Wireframe</h2>
      <p>
         For the profile, I wanted to create a basic layout for users to be navigate easily. But with enough space to add on more tab features that users will have access to in the future.
      </p>
      <img class="img-responsive workImg" src="content/images/work/cn/CNprofile.png">
      <h2>Possible Solution</h2>
      <p>
         While creating the wireframes and attempting to track my own carbon emission, I came across issues of trying input my own data in the carbon calculator.
         A lot of the fillable field, required information that would not be easily answered by a child or adult.
         A guide or help button would be needed to help user estimate the amount of food, miles, and etc information needed to calculate your emission.
      </p>
      <img class="img-responsive workImg" src="content/images/work/cn/wireframeux.png">
      <h2>Conclusion</h2>
      <p>
         At the time of the completion of the wireframes and mock up, Professor Mora was not ready on the server side of the his web application. As a gift, we were happy to give our design scheme as gift to him and his future plans for Carbon Neutrality Challenge.
      </p>
   </div>



</section>
