<section class="techubBody">
   <div class="container">
      <h1>Carbon Neutral Challenge Case Study</h1>
      <h2>Overview</h2>
      <p>
         Design a web application to keep track of users carbon emission to help save the world! Camilo Mora, University of Hawaii Manoa Professor, is spreading news of a new upcoming web application to help you keep track of the trees you plant to counter act the carbon emission you create.
      </p>
      <hr>
      <img class="img-responsive workImg" src="content/images/mora.png">
      <a href="http://www.soc.hawaii.edu/mora/Carbon%20Neutrality%20Project">MoraLab</a>
      <h2>Sitemap</h2>
      <p>
         With a team of three memebers, we gather all the features for the web application, and I created the wireframe/ sitemap.
      </p>
      <div class="row">
         <div class="col-md-6 col-sm-6">
            <img class="img-responsive workImg" src="content/images/CNsitemap.png">
         </div>
         <div class="col-md-6 col-sm-12">
            <img class="img-responsive workImg" src="content/images/signupsitemap.png">
         </div>
      </div>
      <h2>Wireframe</h2>
      <p>
         For the profile, I wanted to create a basic layout for users to be navigate easily. But with enough space to add on more tab features that users will have access to in the future.
      </p>
      <img class="img-responsive workImg" src="content/images/CNprofile.png">
      <h2>Possible Solution</h2>
      <p>
         While creating the wireframes and attempting to track my own carbon emission, I came across issues of trying input my own data in the carbon calculator.
         A lot of the fillable field, required information that would not be easily answered by a child or adult.
         A guide or help button would be needed to help user estimate the amount of food, miles, and etc information needed to calculate your emission.
      </p>
      <img class="img-responsive workImg" src="content/images/wireframeux.png">
      <h2>Conclusion</h2>
      <p>
         At the time of the completion of the wireframes and mock up, Professor Mora was not ready on the server side of the his web application. As a gift, we were happy to give our design scheme as gift to him and his future plans for Carbon Neutrality Challenge.
      </p>
   </div>



</section>
