<section class="techubBody">
   <div class="container">
      <h1>Carbon Neutral Challenge Case Study</h1>
      <h2>Overview</h2>
      <p>
         Design a web application to keep track of users carbon emission to help save the world! Camilo Mora, University of Hawaii Manoa Professor, is spreading news of a new upcoming web application to help you keep track of the trees you plant to counter act the carbon emission you create.
      </p>
      <hr>
      <img class="img-responsive workImg" src="content/images/mora.png">
      <h3>Sitemap</h3>
      <p>
         Once we gather all the features for the web application, i created a wireframe/ sitemap.
      </p>
      <div class="row">
         <div class="col-md-6 col-sm-6">
            <img class="img-responsive workImg" src="content/images/CNsitemap.png">
         </div>
         <div class="col-md-6 col-sm-12">
            <img class="img-responsive workImg" src="content/images/signupsitemap.png">
         </div>
      </div>
      <h3>Wireframe</h3>
      <p>
         With the department website, the actual department has limited access to update or change the website as it has to go through marketing department. With the constant change of products, changes can happen weekly.  I created a solution to use the previous web url CMS to upload pdfs which the current url will grab from to display our other items.
      </p>
      <div class="row">
         <div class="col-md-6 col-sm-12">
            <img class="img-responsive workImg" src="content/images/CNprofile.png">
         </div>
         <div class="col-md-6 col-sm-12">
            <img class="img-responsive workImg" src="content/images/wireframeux.png">
         </div>
      </div>
      <h3>Conclusion</h3>
      <p>
         This project was a great experience for myself. From my experience in IT support side of the department, i was able to translate my experience with customers to the UX side of the website to make the UX design are targeted to the right audience.
      </p>
   </div>



</section>
