<section class="contact" id="contact">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-md-offset-1">
            <div class="row">
               <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                  <a href="mailto:bricetokubo@gmail.com">
                     <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/mail2.svg">
                  </a>
               </div>
               <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                  <a href="https://www.linkedin.com/in/brice-okubo-83066b112/" target="_blank">
                     <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/linkedin2.svg">
                  </a>
               </div>
               <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                  <a href="https://www.instagram.com/bee8o8/" target="_blank">
                     <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/instagram2.svg">
                  </a>
               </div>
               <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 col-xs-6">
                  <a href="https://briceokubo.threadless.com/" target="_blank">
                     <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/threadless2.svg">
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
