<section class="hero">
   <div ng-include="'views/nav.html'"></div>
   <div class="container heroSpace">
      <div class="row">
         <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
            <h1 id="heroName">Brice Okubo</h1>
            <h3>UX & Web Designer</h3>
            <!-- <h4>I am a web developer on a never ending journey of learning.</h4> -->
         </div>
         <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 col-xs-12">
            <img src="http://placehold.it/300x300">
         </div>
      </div>





   </div>
</section>
