<section class="hero">
   <div ng-include="'views/nav.html'"></div>
   <div class="container heroSpace">
      <div class="myTitle">
         <h1 id="heroName">Brice Okubo</h1>
         <h3 id="heroDesc">< UX & Web Designer /> </h3>
      </div>



      <div class="row">
         <div class="col-lg-4 col-xl-4 col-md-4 col-sm-12 col-xs-12">
            <div class="heroLeft">
               <h1 id="heroName">Brice Okubo</h1>
               <h3 id="heroDesc">< UX & Web Designer /> </h3>
            </div> <!-- heroLeft -->
         </div>
         <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12 col-xs-12">
            <img src="content/images/webHero.svg" class="img-responsive heroImage" height="85%" width="85%">
         </div>
      </div><!-- row -->





   </div>
</section>
