<section class="hero">
   <div ng-include="'views/nav.html'"></div>
   <div class="heroSpace">
         <div class="row">
      <div class="col-md-12">
         <h1>Brice Okubo</h1>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <h1>User Experience Designer & Front-End Developer</h1>
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-md-12">
         <h4>I am a web developer on a never ending journey of learning.</h4>
      </div>
   </div>
   </div>
</section>
