<section class="know">

      <div class="row">
         <div class="col-md-6 col-sm-12 col-xs-12">

            <div class="knowInfo">
               <h1 id="knowTitle">About Me</h1>
               <p>I work to create creative and versitile web designs. With a focus on <b> User Experience </b>, I strive to create usable and polished web designs that users can truly appreciate. </p>

               <!-- OLD about me
               <p>Orginally a graphic designer, I accidentally stumbled upon web development. But ever since then,
                  I have been in love with it. Web development is like a never ending journey of learning, and what a great experience it has been.
                  My focus is <b>UX, UI and web graphics</b> projects.
               </p> -->
            </div>


         </div>
          <div class="col-md-6 aboutImage">
             <img src="content/images/aboutme.svg" class="img-responsive" height="100%" width="100%">
          </div>
      </div><!-- row -->


</section>
