<section  ng-app>
   <!-- Title Section-->
   <div class="titleSection">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive workImg" src="content/images/work/moderncompass/MCtitle.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">Modern Compass</h1>
               <h4>Web Design - July 2017</h4>
               <p class="workSum">A new upcoming app that will make outdoor exploring safer. </p>
               <a href="http://www.bookstore.hawaii.edu/manoa/techub"><span>http://www.bookstore.hawaii.edu/manoa/techub</span></a>
            </div>
         </div>
      </div>
   </div>
   <div class="myWorkBody container">
      <div class="row">
         <div class="col-md-5">
            <img class="img-responsive workImg" src="content/images/work/moderncompass/MCabout.png">
         </div>
         <div class="col-md-7">
            <h2>What is Modern Compass?</h2>
         </div>
      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>

      <h2>Strategy & Concept</h2>

      <div class="section-divider">
         <hr class="section-divider">
      </div>

      <h2>Mobile Application UI</h2>

      <div class="section-divider">
         <hr class="section-divider">
      </div>

      <h2>Web Application</h2>
   </div><!--container -->
</section>
