<section ng-controller="workCtrl" id="work">
<div class="MWbody">

      <div class="MWspace">
      <div class="row">
      <div ng-repeat="work in works">

            <div class="col-lg-6">
               <div class="shadow MWcard">
                  <div class="row">
                        <div class="col-md-6">
                           <img src="{{work.image}}" class="img-responsive MWicon">
                        </div>
                        <div class="col-md-6">
                           <div class="MWinfo">
                              <h3 class="title">{{work.title}}</h3>
                              <span class="{{work.color}}">{{work.tag}}</span>
                              <p class="text">{{work.description}}</p>
                              <a href="{{work.a}}">
                              <div class="viewP">
                                 <span>View Project</span>
                              </div>
                              </a>
                           </div> <!--MWinfo -->
                        </div><!--col-md-6 -->
                  </div><!--row -->

               </div>

            </div> <!--whole card -->

      </div><!--ng repeat -->
   </div><!--Row -->





   </div><!-- MWspace-->

</div><!-- MWbody -->
<script src="content/js/workBtn.js"></script>
</section>
