<section class="offer">
   <div class="container">

      <div class="row">
         <div class="col-md-4">
            <img src="content/images/research.svg" width="150" height="150">
            <br>
            <h2>Research</h2>
            <p>a bunch of explaination</p>
         </div>
         <div class="col-md-4">
            <img src="content/images/design.svg" width="150" height="150">
            <br>
            <h2>Design</h2>
            <p>explaining on the design process</p>
         </div>
         <div class="col-md-4">
            <img src="content/images/develop.svg" width="150" height="150">
            <br>
            <h2>Developement</h2>
            <p>explaination of helping development</p>
         </div>
      </div>
   </div>
</section>
