<section class="offer" id="offer">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            <h2 class="offerTitle">What I Can Do</h2>
         </div>

      </div>

      <div class="row">
         <div class=" col-xs-12 col-sm-12 col-md-4">
            <img src="content/images/homepage/research2.svg" class="img-responsive offerImg">
            <br>
            <h2 class="offerTitle">Research</h2>
            <p class="offerDesc">From gaining knowledge of users, context, and even competitive products, is an essential step to any web project.
            </p>
            <br>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-4">
            <img src="content/images/homepage/design2.svg" class="img-responsive offerImg">
            <br>
            <h2 class="offerTitle">Design</h2>
            <p class="offerDesc">Based on the research, design your wireframes, mockups and prototypes.</p>
            <br>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-4">
            <img src="content/images/homepage/develop2.svg" class="img-responsive offerImg">
            <br>
            <h2 class="offerTitle">Development</h2>
            <p class="offerDesc">Create your web application to life with up-to-date frameworks. Through testing and more research will ensure user will have a good experience.</p>
            <br>
         </div>
      </div>
   </div>
</section>
