<section class="offer">
   <div class="container">

      <div class="row">
         <div class=" col-xs-12 col-sm-4 col-md-4">
            <img src="content/images/research.svg" width="150" height="150">
            <br>
            <h2>Research</h2>
            <p>From gaining knowledge of users, context, and even competitive products, is an essential step to any web project.
            </p>
            <br>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4">
            <img src="content/images/design.svg" width="150" height="150">
            <br>
            <h2>Design</h2>
            <p>Based on the research, design your wireframes, mockups and prototypes.</p>
            <br>
         </div>
         <div class="col-xs-12 col-sm-4 col-md-4">
            <img src="content/images/develop.svg" width="150" height="150">
            <br>
            <h2>Developement</h2>
            <p>Create your web application to life with up-to-date frameworks. Through testing and more research will ensure user will have a good experience.</p>
            <br>
         </div>
      </div>
   </div>
</section>
