<section class="techubBody">
   <div class="container">
      <h1>TecHub Website</h1>
      <h2>Overview</h2>
      <p>I created wireframes, mockups and prototype for the newly branded department web page in University of Hawai'i Manoa Bookstore.
         Through the designing process I made some UX design based decision.
      </p>
      <hr>
      <img class="img-responsive workImg" src="content/images/techubWork.png">
      <h2>Desiging Phase</h2>
      <h3>Research</h3>
      <p>
         The previous department web page was located on its own domain and separate from the main University of Hawai'i Bookstore e-commerce website.
         The objected of the research was to create web page compareable to Manoa Bookstore e-commerce and incorporate a more user friendly design.
      </p>
      <h3>Wireframes</h3>
      <p>
         The director wanted a simple navigational website to help students and faculty/staff be able to use the website with ease.
      </p>
      <p>
          The previous website had all the tabs located on the navbar. The new design utilizes quick banner links on the main page, so customers will be able to easily access popular section of the website.
      </p>
      <img class="img-responsive workImg" src="content/images/wireframes.png">
      <h3>User Flow</h3>
      <p>
         With the power of Adobe Experience Design it's easy to display and demostrate the user flow of wireframes to the director and marketing team.
      </p>
      <img class="img-responsive workImg" src="content/images/userflow.png">
      <h3>Problems/ Solutions </h3>
      <p>
         Within the TecHub department, they have limited access to update or change the website.  The marketing department is the only one with all access to the code. With the constant change of products, the marketing department may not be able to keep up to date.  I created a solution to use the previous department CMS web page to create PDFs pages to display non-e-commerce products for the new web page.
      <h3>Conclusion</h3>
      <p>
         This project was a great experience for myself. From my experience in UX/UI design and IT support of the department, I was able to translate my knowledge and experience with customers to the UX design of the website to target the right audience.
      </p>
      <hr>
      <br>
   </div><!--Container -->

   <div class="container">
   <div class="workArchive">
      <div class="row">
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <div class="archiveImg">
               <img src="http://placehold.it/200x200">
            </div>
            <div class="archiveTitle">
               <h4>Carbon Neutrality Challenge</h4>
            </div>
         </div>

      </div><!--row -->
   </div><!--workArchive -->

</div>

</section>
