<section>
   <div class="container">
      <h1>TecHub Website</h1>
      <h2>Overview</h2>
      <p>I created wireframes, mockups and video prototype for the newly branded department in University of Hawaii Manoa Bookstore.
         Through the designing process I made some UX design based decision.
      </p>
      <hr>
      <h2>Desiging Phase</h2>
      <h3>Research</h3>
      <p>
         The previous department was on its web url  and was separated from the main University of Hawaii Bookstore website.
         The objected of the research was to look at the current website of manoa bookstore and incorporate a design to match the
         trend of the current website but still bring a new feel from the old website.
      </p>
      <h3>Wireframes</h3>
      <p>
         The director wanted a simple navigational website to help our students and faculty/staff be able to use the website with ease and be able to find what they want.
      </p>
      <p>
         for the previous website, everything was located on the tabs above, but with the new design i wanted to be able to create quick links on the main page, so customers will be able to easily access the section of the website within an instant.
      </p>
      <h3>User Flow</h3>
      <p>
         With the power of Adobe Experience Design it was easy to show the user flow and prototype the wireframes to the director and marketing team.
      </p>
      <h3>Problems/ Solutions </h3>
      <p>
         With the department website, the actual department has limited access to update or change the website as it has to go through marketing department. With the constant change of products, changes can happen weekly.  I created a solution to use the previous web url CMS to upload pdfs which the current url will grab from to display our other items.
      </p>
      <h3>Conclusion</h3>
      <p>
         This project was a great experience for myself. From my experience in IT support side of the department, i was able to translate my experience with customers to the UX side of the website to make the UX design are targeted to the right audience.
      </p>
   </div>



</section>
