<section class="work" ng-controller="workCtrl" id="work">
   <div class="container">
      <div class="paper">
         <h1 id="workTitle">My Work</h1>
         <hr>
      </div>
      <!-- intext wraggler code -->
   </div>

   <!--TESTing  -->
   <div class="container">

<!-- 4 cards per row   ------------------------------->

<div class="row">
   <div ng-repeat="work in works">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 cardMargin">
         <div class="workCard card">
            <div class="wrapper">
            <img src="{{work.image}}" class="img-responsive cardImage" height="100%" width="100%">
            <div class="cardDesc">
               <div class="data">
                  <div class="content contentBg">
                     <h3 class="title">{{work.title}}</h3>
                     <p class="text">{{work.description}}</p>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </div>
   </div><!--ng repeat -->
</div><!--row  -->



</div><!--container -->


</section>
