<hr>
<section class="archive">
   <div class="container">
      <div class="row">
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="archive-card">
               <a href="moderncompass.html"><img src="content/images/homepage/MCicon2.svg" class="img-responsive archive-img">
               <h4>Modern Compass</h4></a>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="archive-card">
               <a href="techub.html"><img src="content/images/homepage/techub2.png" class="img-responsive archive-img">
               <h4>TecHub</h4></a>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="archive-card">
               <a href="cnchallenge.html"><img src="content/images/homepage/CN2.png" class="img-responsive archive-img">
               <h4>Carbon Neutrality</h4></a>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="archive-card">
               <a href="hikealoha.html"><img src="content/images/homepage/hikealoha2.svg" class="img-responsive archive-img">
               <h4>Hike Aloha</h4></a>
            </div>
         </div>
      </div>
   </div>
</section>
