<section class="techubBody" ng-app>
   <div class="titleSection">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/AB/hero.svg">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">A Beauty Website</h1>
               <h4>Web Application - August 2017</h4>
               <h4>Role : Product Designer</h4>
               <p class="workSum">
                  A web application that help teach and provide a new way you look up 10 step
               </p>
            </div>
         </div><!-- row -->
      </div><!-- container -->
   </div><!-- titleSection -->
   <div class="myWorkBody container">
      <h2 class="workHeader">Project Overview</h2>
      <p class="HAtext">
         Project A Beauty website, is a collaboration with a good friend, who graduated in ICS degree, who wants to create an application for his current hobby/interest of 10 steps beauty care. With a general idea of the application, we dive deeper with product thinking to build the features that our target audience will want.
      </p>

      <h2 class="workHeader">Product Thinking</h2>
      <p class="HAtext">
         The help from Nikkel Blaase’s article <a href="https://medium.com/@jaf_designer/why-product-thinking-is-the-next-big-thing-in-ux-design-ee7de959f3fe" target="_blank">“Why Product Thinking is the next big thing in UX Design”</a> , we follow his chart of questions of defining the problem, target audience, solution and goal.
      </p>
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <img class="img-responsive" src="content/images/work/AB/productThinking2@2x.png">
         </div>
      </div><!--row -->
      <img class="img-responsive" src="content/images/work/AB/result@2x.png">
      <h2 class="workHeader">Personas</h2>
      <p class="HAtext">
         I proceeded to create personas base off the my friend, I, and our friend, who is advance in 10 step beauty.
      </p>
      <h2 class="workHeader">Scenarios</h2>
      <p class="HAtext">
         In order to keep our creative thinking focused, I divided the application into parts. After dividing educational part, database query search, and creating/sharing 10 step guides, we tackled the search query.
      </p>
      <p class="HAtext">
         Before listing out features, I create a storyboard with a scenario based off the search query.  For my storyboard, I create majority of the scenes and leave some blank. The blank scenes  is where we question what is the user next intentions, thoughts, and goals. Base on those question and answers, we draw out features that will move the user forward.  We will run the scenarios three times, based off each persona we created.
      </p>
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <img class="img-responsive" src="content/images/work/AB/storyboard@2x.png">
         </div>
      </div>
   </div> <!-- myWorkBody-->
   <div class="container">
      <h2 class="workHeader">Conclusion</h2>
      <p class="HAtext">
         A Beauty website is a perfect project to utilize product thinking to really push user experience to the target audience.  A Beauty website is still in development, but hopes to get a running prototype by 2018. If you wish to follow along with the product thinking process, I will post a link to my blog for more in depth of A Beauty website.
      </p>
      <br>
      <div ng-include="'views/archive.html'"></div>
   </div><!--container -->
   <div class="closeOut">
      <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
      </div><!--closeButton -->
   </div><!--closeOut -->
</section>
