<section class="techubBody" ng-app>
   <div class="titleSection">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/AB/hero.svg">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">A Beauty Website</h1>
               <h4>Web Application - August 2017</h4>
               <h4>Role : Web Designer/ Product Designer</h4>
               <p class="workSum">
                  A web application that help teach and provide a new way you look up 10 step
               </p>
            </div>
         </div><!-- row -->
      </div><!-- container -->
   </div><!-- titleSection -->
   <div class="myWorkBody container">
      <h2 class="workHeader">Project Overview</h2>
      <p class="HAtext">
         Project A Beauty website, is a collaboration with a good friend, who graduated in ICS degree, who wants to create an application for his current hobby/interest of 10 steps beauty care. With a general idea of what he wants to accomplish from the application, but for me who does not know very much of the product itself, wont be able to effectively create a web design and great user experience without this knowledge. So to help both my collaborator and myself, we did a product thinking exercise in order for both us to truly understand our goals and vision.
      </p>
      <h2 class="workHeader">Product Thinking</h2>
      <p class="HAtext">
         From very insightful article from the medium, link, i used the product thinking chart for us to answer.
      </p>
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <img class="img-responsive" src="content/images/work/AB/productThinking2@2x.png">
         </div>
      </div><!--row -->
      <p class="HAtext">
        Once these question was answered, it was a great opportunity for my collaborator and myself to truly realize what his intentions was and how they have changed from answering these question.
      </p>
      <h2 class="workHeader">Personas</h2>
      <p class="HAtext">
         Once we discovered, who our targeted audience are, we create personas based on our self and friend who is also interested in the application. Which was perfect, because we targeted people of all three level of beginner, intermediate and advance in the knowledge of 10 steps.
      </p>
      <h2 class="workHeader">Scenarios</h2>
      <p class="HAtext">
         With scenarios we try to bring out future predictions of users actions based on personas.
      </p>
   </div> <!-- myWorkBody-->
   <div class="container">
      <h2 class="workHeader">Conclusion</h2>
      <p class="HAtext">
         This project was a great experience for myself. From my experience in UX/UI design and IT support of the department, I was able to translate my knowledge and experience with customers to the UX design of the website to target the right audience.
      </p>
      <br>
      <div ng-include="'views/archive.html'"></div>
   </div><!--container -->
   <div class="closeOut">
      <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
      </div><!--closeButton -->
   </div><!--closeOut -->
</section>
