<section ng-app>
   <div class="techubBody">
   <!-- Title Section-->
   <div class="titleSection">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/cn/CNhero.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">Carbon Neutrality Challenge</h1>
               <h4>Case Study - December 2015</h4>
               <p class="workSum">
                  A web application set out to change the world by calcuating your carbon emission.
               </p>
               <a href="http://www.soc.hawaii.edu/mora/Carbon%20Neutrality%20Project"><span>Mora Lab</span></a>
            </div>
         </div>
      </div>
   </div>
   <!-- Body-->
   <div class="myWorkBody container">


            <h2 class="workHeader">Concept</h2>
            <!-- <p class="HAtext">
               With a team of three memebers, we gather all the features for the web application, and I created the wireframe/ sitemap.
            </p> -->
            <p class="HAtext">
               Carbon Neutrality Challenge is a web application to keep track of users carbon emission to help save the world. Camilo Mora, University of Hawaii Manoa Professor, is spreading news of a new upcoming web application to help you keep track of the trees you plant to counter act the carbon emission you create.
            </p>
            <p class="HAtext">
               Carbon neutrality challenge will encourage users to plant more trees in order to compensate the carbon emission that they produce yearly.  With this application, we hope to instill gameification attributes to encourage users to contiune planting trees. Gameification features such as, competing with other people in their city, state, country and world by user with the most planted trees or carbon emission.
            </p>



      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2 class="workHeader">Wireframe</h2>
      <div class="row">
         <div class="col-md-4">
            <img class="img-responsive" src="content/images/work/cn/CNwire1.svg">
         </div>
         <div class="col-md-4">
            <img class="img-responsive" src="content/images/work/cn/CNwire2.svg">
         </div>
         <div class="col-md-4">
            <img class="img-responsive" src="content/images/work/cn/CNwire3.svg">
         </div>
      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2 class="workHeader">Mock Up</h2>
      <div class="row">
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/cn/CNmockup2.png">
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/cn/CNmockup3.png">
         </div>


      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2 class="workHeader">UX Solution</h2>
            <p class="HAtext">
               While designing the wireframes, I came across user experience issues of input my own data in the carbon calculator. The web application is intended for child to adults to be able to fill out, but  a lot of the fillable field, required information that will not be easily answered by a child or an adult.
            </p>
            <p class="HAtext">
               Creating a guide or help button will be essential to provide users informative information that will help them determine their own calculation. Another help tool that would be beneficial to users will be displaying the average of each field.
            </p>
      <div class="mobile">
      <div class="row">
         <div class="col-md-10 col-md-offset-2">
            <img class="img-responsive" src="content/images/work/cn/CNsolution1.svg">
         </div>
      </div>
      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <h2 class="workHeader">Conclusion</h2>
      <p class="HAtext">
         This was a great opportunity and learning experience. Collaborating with Professor Mora to help design and spread the word of his upcoming web application.  Carbon Neutrality Challenge is still under development, and hopes to have a launch date of 2017.
      </p>
   </div>
   <div ng-include="'views/archive.html'"></div>
   </div>
   <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
   </div>
</section>
