<section  ng-app autoscroll="true">
   <!-- Title Section-->
   <div class="titleSection">
      <!-- <div ng-include="'views/nav.html'"></div> --> <!--Disabled for demo.html TESTING -->
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/moderncompass/MCtitle.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">Modern Compass</h1>
               <h4>Web/Mobile Application  - July 2017</h4>
               <h4>Role : Web/Mobile Designer & Product Design</h4>
               <p class="workSum">A new upcoming app that will make outdoor exploring safer. </p>

            </div>
         </div>
      </div>
   </div>
   <div class="myWorkBody container">





            <h2 class="workHeader">What is Modern Compass?</h2>
            <p class="HAtext">
               Modern Compass hopes to revolutionize the experience of outdoor activities by featuring location tracking and a way to set an emergency contact.
            </p>

            <p class="HAtext">
               The goal of both the website and mobile app is to provide outdoor activities of all level from beginners to advance and safety. With that in mind, one of our main feature is the emergency contact, that can let them know whether if you have not checked in at the end of your activity and as well as track them with gps.
            </p>

               <div class="concept">
                  <h1 class="workHeader">Workflow</h1>
                  <p class="HAtext">
                     The entire digital project is develop by a small team. With the enormous amount of outdoor activities in the world, crowdsourcing will be our main source of information. With crowdsourcing, Modern Compass will be flexible and able to seamlessly evolve and grow
                  </p>
                  <p class="HAtext">
                     Through conference calls and slack polls, our team holds weekly scrum stand ups, to give an individual check of our progress and any concerns. As an open team, we highly encourage critiques and constructive arguments to further our learning and growth.
                  </p>
                  <p class="HAtext">
                     As our team develops Modern Compass, I want to make sure we are developing an application that users want.  In each phase of production, we are product designing each feature and conclude whether our not the feature is essential to our goal in Modern Compass.
                     <!-- Collaborative discussion on information architecture, we developed guidelines for the overall digital appearance based on colors, shapes, images and graphics. -->
                  </p>
               </div>


            <h2 class="workHeader">Personas</h2>
            <p class="HAtext">
               After figuring out who the projects audience is I conduct small personal interviews.  Information gathered from the interviews are essential. With all the information, I begin to create personas based off some of the interviewees. By doing this I’m creating a clear image of who the possibly users in our audience are.
            </p>
            <img class="img-responsive" src="content/images/work/moderncompass/persona@2x.png">


   </div><!--container -->

   <div class="mobile">
      <div class="container">
         <h1 class="MCtitle">Mobile Application UI</h1>
         <h3 class="MCsubtitle">IOS / Android</h3>
         <p class="HAtext white">
            I did some initial wireframe on paper with pencil. After some review and iteration, used Adobe Experience Design CC to create detailed mockups. The key here was to design, review and iterate until we had a simple and smooth user experience. Material design was used as the guideline to create a modern UI.
         </p>
         <img class="img-responsive" src="content/images/work/moderncompass/mobile@2x.png">
         <img class="img-responsive" src="content/images/work/moderncompass/mobile2@2x.png">
      </div>
   </div><!-- mobile -->
   <div class="mobile">
      <div class="container">
         <h1 class="MCtitle">UI Design</h2>
            <h3 class="MCsubtitle">Desktop</h3>
            <p class="HAtext white">
               The goal of the desktop version is to help growth of the social media aspect that Modern Compass will try to iterate. From creating form groups, messaging and planning, the Desktop UI will help users achieve their planning, socializing with a bigger screen.
            </p>
         <img class="img-responsive" src="content/images/work/moderncompass/web3@2x.png">
      </div>
   </div>

   <!--Conclusion -->
   <div class="container">
      <div class="concept">
         <h1 class="workHeader">Conclusion</h1>
         <p class="HAtext">
            Modern Compass is still in development and plans to release the beta in December. The design of Modern Compass is always evolving with the current trends. From a web designer standpoint,  this project and team is very passionate and will always be moving towards the best designs to best mesh with our target audience and application.
         </p>
      </div>
   </div>
   <div ng-include="'views/archive.html'"></div>
   <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
   </div>
</section>
