<section  ng-app>
   <!-- Title Section-->
   <div class="titleSection">
      <!-- <div ng-include="'views/nav.html'"></div> --> <!--Disabled for demo.html TESTING -->
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/moderncompass/MCtitle.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">Modern Compass</h1>
               <h4>Web Design - July 2017</h4>
               <p class="workSum">A new upcoming app that will make outdoor exploring safer. </p>
               <a href="http://www.bookstore.hawaii.edu/manoa/techub"><span>http://www.bookstore.hawaii.edu/manoa/techub</span></a>
            </div>
         </div>
      </div>
   </div>
   <div class="myWorkBody container">


      <div class="row">
         <div class="col-md-5">
            <img class="img-responsive" src="content/images/work/moderncompass/MCabout.png">
         </div>
         <div class="col-md-7">
            <h2>What is Modern Compass?</h2>
            <p class="HAtext">
               Modern Compass is designed to be a new way of exploring outdoors activities and be safe. With the activity’s locations and ability to set an emergency contact, Modern Compass hopes to change the experience of outdoor activities.
            </p>
         </div>
      </div>
   </div><!--container -->

   <div class="mobile">
      <div class="container">
         <h1 class="MCtitle">Mobile Application UI</h1>
         <h3 class="MCsubtitle">IOS / Andriod</h3>
         <img class="img-responsive" src="content/images/work/moderncompass/mobile@2x.png">
         <img class="img-responsive" src="content/images/work/moderncompass/mobile2@2x.png">
      </div>
   </div><!-- mobile -->
   <div class="container">
      <div class="concept">
         <h1 class="workHeader">Concept and Workflow</h1>
         <p class="HAtext">
            The entire digital project was developed by a small team. With the enormous amount of outdoor activities in the world, crowdsourcing will be our main source of information. With crowdsourcing, Modern Compass will be flexible and able to seamlessly evolve and grow
         </p>
         <p class="HAtext">
            As our team develops Modern Compass, I want to make sure we are developing an application that users want.  In each phase of production, we are product designing each feature and conclude whether our not the feature is essential to our goal in Modern Compass.
            <!-- Collaborative discussion on information architecture, we developed guidelines for the overall digital appearance based on colors, shapes, images and graphics. -->
         </p>
         <p class="HAtext">
            Through conference calls and slack polls, we as a team do weekly scrum stand up, to give individual check in to our progress and any concerns.  As open team, we highly encourage critiques and constructive arguments to further our learning and growth.
            <!-- Because of a agile workflow every production step had to be outlined with wireframes, prototypes or final design previews, but always open for changes at any point of time of production. -->
         </p>
      </div>
   </div><!-- container -->
   <div class="mobile">
      <div class="container">
         <h1 class="MCtitle">UI Design</h2>
            <h3 class="MCsubtitle">Desktop</h3>
         <img class="img-responsive" src="content/images/work/moderncompass/web3@2x.png">
      </div>
   </div>
   <!--Conclusion -->
   <div class="container">
      <div class="concept">
         <h1 class="workHeader">Conclusion</h1>
         <p class="HAtext">
            Modern Compass is still in development and plans to release the beta in December. The design of Modern Compass is always evolving with the current trends. From a web designer standpoint,  this project and team is very passionate and will always be moving towards the best designs to best mesh with our target audience and application.
         </p>
      </div>
   </div>
   <div ng-include="'views/archive.html'"></div>
   <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
   </div>
</section>
