<section class="techubBody" ng-app>
   <div class="titleSection">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/techub/techubWork.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">TecHub</h1>
               <h4>E-Commerce Website - November 2016</h4>
               <h4>Role : Web Designer</h4>
               <p class="workSum">A website redesign to kickoff the launch of a new University of Hawaii Bookstore department</p>
               <a href="http://www.bookstore.hawaii.edu/manoa/techub"><span>http://www.bookstore.hawaii.edu/manoa/techub</span></a>
            </div>
         </div>
      </div>
   </div>
   <div class="myWorkBody container">

            <h2 class="workHeader">Project Overview</h2>
            <p class="HAtext">
               With the new feature of purchasing an apple product with educational pricing from the UH Manoa Bookstore website, TecHub Department was added to the E-Commerce website. With a redesign and rebranding of the Computer department to TecHub, the goal is create a user friendly website that will cater to our students, faculty and staff.
            </p>
            <h2 class="workHeader">Goals</h2>
            <p class="HAtext">
               Working closely with the department manager, store director and personally working as the front end counter of the computer department for 3 years, we were able to efficiently plan out the main goals that the website wants to achieve.
            </p>
            <ul class="HAtext">
               <li>Easy navigation</li>
	            <li>Seamless transition from TecHub to the e-commerce side</li>
	            <li>Consistent design with the other Manoa Bookstore webpages </li>
            </ul>

   </div>
   <div class="mobile">
      <div class="container">
         <h1 class="MCtitle">Wireframe</h1>
         <h3 class="MCsubtitle">Desktop </h3>
         <p class="HAtext white">
            My focus was providing simple interface that will help guide users to the right section they are targeting. So, I did some initial research on the target users, on which products and questions are frequently asked via in person and on telephone.
         </p>
         <p class="HAtext white">
            Based on my research, we were able to validate the three main sections that users are frequently targeting and able to place them in a quick link on the homepage for direct access.
         </p>

         <img class="img-responsive" src="content/images/work/techub/wireframes2@2x.png">
         <h1 class="MCheader">Mock Up</h1>
         <h3 class="MCsubtitle">Desktop </h3>
         <img class="img-responsive" src="content/images/work/techub/mockup@2x.png">
      </div>
   </div>

      <div class="row">
         <div class="col-md-12">
            <h2 class="workHeader padTop">Design Solution</h2>
            <p class="HAtext">
               Though not all computer products are available through the e-commerce store, we are required to display the other products through other methods.  With the constant change of products that we bring in, the marketing department is not able to keep up to date. I created a solution that utilizes the old department CMS to host the PDFs pages that will display the non-e-commerce products linked from the new TecHub page.
            </p>
            <br>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5 col-md-offset-1">
            <img class="img-responsive" src="content/images/work/techub/windowComputer.png">
         </div>
         <div class="col-md-5">
            <img class="img-responsive" src="content/images/work/techub/windowComputer.png">
         </div>
      </div>


      <h2 class="workHeader padTop">Conclusion</h2>
      <p class="HAtext">
         With the launch of TecHub, Apple computer sales have gone up and receiving praise from students and faculty and staff. The ability of purchasing an apple computer from the bookstore website, allows parents from the outer states to purchase computer for their child and able to pick up in store. This method is proving to be a much better solution for students than providing credit card over the phone for their transaction.
      </p>
      <p class="HAtext">
          For faculty and staff, they're appreciating the faster process with their fiscal officers, to be able to cut down one complicating step in their process in purchasing a computer through their fundings.
      </p>
      <br>

   <div ng-include="'views/archive.html'"></div>
   </div><!--container -->
   <div class="closeButton">
            <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
      </div>
</section>
