<section class="techubBody" ng-app>
   <div class="titleSection">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/techub/techubWork.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">TecHub</h1>
               <h4>Website - November 2016</h4>
               <p class="workSum">A website redesign to kickoff the launch of a new University of Hawaii Bookstore department</p>
               <a href="http://www.bookstore.hawaii.edu/manoa/techub"><span>http://www.bookstore.hawaii.edu/manoa/techub</span></a>
            </div>
         </div>
      </div>
   </div>
   <div class="myWorkBody container">

            <h2 class="workHeader">Concept</h2>
            <p class="HAtext">The planning of the redesign included to maintain the existing web design style and ensure a user friendly interface for students, faculty and staff.</p>
   </div>
   <div class="mobile">
      <div class="container">
         <h1 class="MCtitle">Wireframe</h1>
         <h3 class="MCsubtitle">Desktop </h3>
         <img class="img-responsive" src="content/images/work/techub/wireframes2@2x.png">
         <h1 class="MCtitle">Mock Up</h1>
         <h3 class="MCsubtitle">Desktop </h3>
         <img class="img-responsive" src="content/images/work/techub/mockup@2x.png">
      </div>
   </div>
   
      <div class="row">
         <div class="col-md-12">
            <h2 class="workHeader">Problems/ Solutions </h2>
            <p class="HAtext">
               Within the TecHub department, they have limited access to update or change the website.  The marketing department is the only one with all access to the code. With the constant change of products, the marketing department may not be able to keep up to date.  I created a solution to use the previous department CMS web page to create PDFs pages to display non-e-commerce products for the new web page.
            </p>
            <br>
         </div>
      </div>
      <div class="row">
         <div class="col-md-5 col-md-offset-1">
            <img class="img-responsive" src="content/images/work/techub/windowComputer.png">
         </div>
         <div class="col-md-5">
            <img class="img-responsive" src="content/images/work/techub/windowComputer.png">
         </div>
      </div>
      <div class="section-divider">
         <hr class="section-divider">
      </div>

      <h2 class="workHeader">Conclusion</h2>
      <p class="HAtext">
         This project was a great experience for myself. From my experience in UX/UI design and IT support of the department, I was able to translate my knowledge and experience with customers to the UX design of the website to target the right audience.
      </p>
      <br>

   <div ng-include="'views/archive.html'"></div>
   </div><!--container -->
   <div class="closeButton">
            <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
      </div>
</section>
