<section  ng-app>
   <!-- Title Section-->
   <div class="titleSection" autoscroll="true">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/techublogo/Tlogohero.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">TecHub Logo</h1>
               <h4>Branding - Feburary 2017</h4>
               <h4>Role : Graphic Designer</h4>
               <p class="workSum">
                  A new logo for a the redesign Computer department, TecHub
               </p>
               <a href="https://play.google.com/store/apps/details?id=com.hikealoha.app&hl=en"><span>Hike Aloha</span></a>
            </div>
         </div>
      </div>
   </div>
   <!-- Body-->
   <div class="myWorkBody container">
            <h2 class="workHeader">What is TecHub?</h2>
            <p class="HAtext">
               TecHub is newly branded redesign of the old Computer department in the University of Hawai’i Bookstore.  The department specializes in technology retail, repair service and quick IT support for students, faculty and staff.
            </p>
      </div>
      <div class="mobile">
         <div class="container">
            <div class="row">
               <h1 class="MCtitle">Experimental</h1>
               <h3 class="MCsubtitle">Sketches & Mockups</h3>
               <p class="HAtext white">
                  The original sketches are playing with the broad idea of technology. The mockups was just playing with different style of logo, just to get a better idea of what type of logo they are looking for. Whether it was the shape, idea, font or colors.
               </p>
               <div class="col-md-6">
                  <img class="img-responsive" src="content/images/work/techublogo/sketch.png">
               </div>
               <div class="col-md-6">
                  <img class="img-responsive" src="content/images/work/techublogo/sketch.svg">
               </div>
            </div><!--row -->
            <div class="section-divider">
               <hr class="section-divider">
            </div>
         </div>
      </div>

      <div class="container">

            <div class="row">
               <div class="col-md-6 col-md-offset-3">
                  <h1 id="newDirection">New Direction</h1>
                  <img class="img-responsive oldLogo" src="content/images/work/techublogo/test.svg">
               </div>
            </div>

            <p class="HAtext">
               After all the experiments logo, the bookstore wanted to utilize the H logo for the university for easy recognition. But due to copyright of the H logo, the bookstore was forbidden from using the H logo. With permission we are able to modify the "H" to create our own "H" identity for TecHub.
            </p>





      <div class="row">
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/mockup1.svg">
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/mockup2.svg">
         </div>
      </div><!--row -->
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <div class="row">
         <div class="col-md-6">
            <h2 class="workHeader">Conclusion</h2>
            <p class="HAtext">
               This was the final design choosen by the director.
            </p>
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/finalLogo.svg">
         </div>
      </div>
<div ng-include="'views/archive.html'"></div>
   </div><!--container -->
   <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
   </div>
</section>
