<section  ng-app>
   <!-- Title Section-->
   <div class="titleSection">
      <div ng-include="'views/nav.html'"></div>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <img class="img-responsive" src="content/images/work/techublogo/Tlogohero.png">
            </div>
            <div class="col-md-6">
               <h1 class="titleWork">TecHub Logo</h1>
               <h4>Branding - Feburary 2017</h4>
               <p class="workSum">
                  A web application set out to change the world by calcuating your carbon emission.
               </p>
               <a href="https://play.google.com/store/apps/details?id=com.hikealoha.app&hl=en"><span>Hike Aloha</span></a>
            </div>
         </div>
      </div>
   </div>
   <!-- Body-->
   <div class="myWorkBody container">
      <div class="row">
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techub/techubWork.png">
         </div>
         <div class="col-md-6">
            <h2 class="workHeader">What is TecHub?</h2>
            <p class="HAtext">TecHub is newly created department in University of Hawai'i Bookstore. TecHub is a technology retailer and repair service for the faculty/staff and students</p>
         </div>
      </div><!-- row -->
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <div class="row">
         <h2 class="workHeader">Experimental</h2>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/sketch.png">
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/sketch.svg">
         </div>
      </div><!--row -->
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <div class="row">
         <div class="col-md-6">
            <h2 class="workHeader">New Direction</h2>
            <p class="HAtext">
               After all the experiments logo, the bookstore wants to utilize the H logo for the university for easy recognition. Due to copyright of the H logo, the objection is to modify the "H" to create a similar "H" identity for TecHub.
            </p>
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/test.svg">
         </div>
      </div> <!--row -->
      <div class="row">
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/mockup1.svg">
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/mockup2.svg">
         </div>
      </div><!--row -->
      <div class="section-divider">
         <hr class="section-divider">
      </div>
      <div class="row">
         <div class="col-md-6">
            <h2 class="workHeader">Conclusion</h2>
            <p class="HAtext">
               This was the final design choosen by the director.
            </p>
         </div>
         <div class="col-md-6">
            <img class="img-responsive" src="content/images/work/techublogo/finalLogo.svg">
         </div>
      </div>
<div ng-include="'views/archive.html'"></div>
   </div><!--container -->
   <div class="closeButton">
         <img src="content/images/xbutton.svg" class="img-circle shadow xbutton" alt="" ng-click="workSection()">
   </div>
</section>
