<section class="know" id="about">
      <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="knowInfo">
               <h1 id="knowTitle">About Me</h1>
                  <div class="aboutProfile">
                     <img src="http://via.placeholder.com/150x150" class="img-circle img-responsive">
                  </div>
               <p class="aboutSum">
                  My name is Brice Okubo.  I am both a <b>web developer</b> and <b>UX designer</b> focused on creating polished user experiences through versatile and creative designs.
               </p>
            </div>
         </div>
          <div class="col-md-7 col-sm-12 col-xs-12 aboutImage">
             <img src="content/images/homepage/aboutme.svg" class="img-responsive aboutSize">
          </div>
      </div><!-- row -->
</div>
</section>
