<section class="contact">

      <div class="row contactSpace">
         <div class="col-md-10 col-md-offset-1">
            <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-lg-12 col-xl-12 col-sm-6 col-xs-12">
                     <h2 id="message">Message Me</h2>
                     <a href="mailto:bricetokubo@gmail.com">
                        <img class="contactImg img-circle shadow" src="content/images/contact/mail2.svg">
                     </a>
                  </div>
               </div>

               <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="row">
                     <h2 id="follow">Follow Me </h2>
                     <div class="col-md-6 col-lg-6 col-xl-2 col-sm-6 col-xs-6">
                        <a href="https://www.linkedin.com/in/brice-okubo-83066b112/" target="_blank">
                           <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/linkedin2.svg">
                        </a>
                     </div>
                     <div class="col-md-6 col-lg-6 col-xl-2 col-sm-6 col-xs-6">
                        <a href="https://www.instagram.com/bee8o8/" target="_blank">
                           <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/instagram2.svg">
                        </a>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6 col-lg-6 col-xl-2 col-sm-6 col-xs-6">
                        <a href="https://github.com/briceokubo" target="_blank">
                           <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/git.svg">
                        </a>
                     </div>
                     <div class="col-md-6 col-lg-6 col-xl-2 col-sm-6 col-xs-6">
                        <a href="https://briceokubo.threadless.com/" target="_blank">
                           <img class="contactImg img-responsive img-circle shadow" src="content/images/contact/threadless2.svg">
                        </a>
                     </div>
                  </div>

               </div>
            </div><!--row -->
         </div>
      </div>

   <script src="content/js/contact.js"></script>
</section>
