<footer>
   <div class="row myFooter">
      <div class="col-md-offset-4 col-md-4">
         <div class="version">
            <p> <b>2017 Brice Okubo</b> Version 4.2.4</p>
         </div>
      </div>
      <div class="col-md-4">
         <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
               <a href="mailto:bricetokubo@gmail.com">
                  <img class="footIcon" id="mail" src="content/images/footer/mail.svg">
               </a>
               <a href="https://www.linkedin.com/in/brice-okubo-83066b112/" target="_blank">
                  <img class="footIcon" id="link" src="content/images/footer/linkedin.svg">
               </a>
               <a href="https://github.com/briceokubo" target="_blank">
                  <img class="footIcon" id="git" src="content/images/footer/git.svg">
               </a>
               <a href="https://www.instagram.com/bee8o8/" target="_blank">
                  <img class="footIcon" id="insta" src="content/images/footer/instagram.svg">
               </a>
            </div>
         </div>
      </div>
   </div>
   <script src="content/js/button.js"></script>
</footer>
