<!-- Models -->
<!-- Wire 1-->
<div class="modal fade" id="wire1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carbon Neutrality Challenge wireframe 1</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive cn-img" src="content/images/work/cn/CNwire1.svg"  data-toggle="modal" data-target="#wire1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- Wire 2-->
<div class="modal fade" id="wire2" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carbon Neutrality Challenge wireframe 2</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive cn-img" src="content/images/work/cn/CNwire2.svg"  data-toggle="modal" data-target="#wire2" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- Wire 3-->
<div class="modal fade" id="wire3" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carbon Neutrality Challenge wireframe 3</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive cn-img" src="content/images/work/cn/CNwire3.svg"  data-toggle="modal" data-target="#wire3" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- Mock1-->
<div class="modal fade" id="mock1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carbon Neutrality Challenge mockup 1</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive cn-img" src="content/images/work/cn/CNmockup2.png"  data-toggle="modal" data-target="#mock1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- Mock2-->
<div class="modal fade" id="mock2" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carbon Neutrality Challenge mockup 2</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive cn-img" src="content/images/work/cn/CNmockup3.png"  data-toggle="modal" data-target="#mock2" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- Solution1-->
<div class="modal fade" id="solution1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carbon Neutrality Challenge UX solution</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive cn-img" src="content/images/work/cn/CNsolution1.svg"  data-toggle="modal" data-target="#solution1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
