<!-- HAevent-->
<div class="modal fade" id="HAevent" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hackathon Attendees</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/hikealoha/HAhackathon.jpg"  data-toggle="modal" data-target="#HAevent" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- HAteam-->
<div class="modal fade" id="HAteam" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hike Aloha Team</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/hikealoha/HAteam.jpg"  data-toggle="modal" data-target="#HAteam" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- HAui1-->
<div class="modal fade" id="HAui1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hike Aloha Hike Query</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/hikealoha/HAui1.png"  data-toggle="modal" data-target="#HAui1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- HAui2-->
<div class="modal fade" id="HAui2" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hike Aloha Checkpoint System</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/hikealoha/HAui2.png"  data-toggle="modal" data-target="#HAui2" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- HAui3-->
<div class="modal fade" id="HAui3" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hike Aloha Emergency Contact</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/hikealoha/HAui3.png"  data-toggle="modal" data-target="#HAui3" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
