<!-- MCpersona-->
<div class="modal fade" id="MCpersona" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Modern Compass Personas</h4>
         </div>
         <div class="modal-body">
             <img class="img-responsive" src="content/images/work/moderncompass/persona@2x.png"  data-toggle="modal" data-target="#MCpersona" width="100%">
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
   </div>
</div>
<!-- mobile1-->
<div class="modal fade" id="mobile1" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Modern Compass Activity Query</h4>
         </div>
         <div class="modal-body">
             <img class="img-responsive" src="content/images/work/moderncompass/mobile@2x.png"  data-toggle="modal" data-target="#mobile1" width="100%">
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
   </div>
</div>
<!-- mobile2-->
<div class="modal fade" id="mobile2" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Modern Compass Activity Details</h4>
         </div>
         <div class="modal-body">
             <img class="img-responsive" src="content/images/work/moderncompass/mobile2@2x.png"  data-toggle="modal" data-target="#mobile2" width="100%">
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
   </div>
</div>
<!-- desktop1-->
<div class="modal fade" id="desktop1" role="dialog">
   <div class="modal-dialog modal-lg">
       <!-- Modal content-->
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Modern Compass Web Application UI</h4>
         </div>
         <div class="modal-body">
             <img class="img-responsive" src="content/images/work/moderncompass/web3@2x.png"  data-toggle="modal" data-target="#desktop1" width="100%">
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div>
   </div>
</div>
