<!-- THwire1-->
<div class="modal fade" id="THwire1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">TecHub Homepage Wireframe</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/techub/wireframes4@2x.png"  data-toggle="modal" data-target="#THwire1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- THmockup1-->
<div class="modal fade" id="THmockup1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">TecHub Mockups</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/techub/mockup2@2x.png"  data-toggle="modal" data-target="#THmockup1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
<!-- THsolution1-->
<div class="modal fade" id="THsolution1" role="dialog">
 <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">TecHub UX solution</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" src="content/images/work/techub/windowComputer.png"  data-toggle="modal" data-target="#THsolution1" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
 </div>
</div>
